$text-light: #E0E0E0;
$color-red-primary: #d50000;
$color-red-primary-light: #ff5131;
$color-red-primary-dak: #9b0000;

$color-orange-accent: #ffa726;
$color-orange-accent-light:#ffd95b ;
$color-orange-accent-dark: #c77800 ;

$color-warning: #ffee58;

.footer {
  background-color: $color-red-primary-light;
}

.footer-icons {
text-align: center;

  li {
    list-style: none;
    display: inline;
    padding: 0 15px;

  }
}

.footer-links{
  text-align: center;
  color: $text-light;
}
