<div class="container-fluid hero-image">

</div>
<div class="container-fluid wrapper">
<section class="contact-header px-4 py-5">

  <h3 class="pb-4">About Us</h3>

  <p>Anmax Web Design was established in 2017 as a private company and is registered at the chamber of Commerce of Curacao under number 144545.</p>

  <p>Anmax Web Design is a small company, specialising in full stack web development. Using the most modern languages, technologies and methods available, Anmax Web Design creates websites and online systems equal to any of the large web design agencies but at far more competitive prices! </p>



  <p>Anmax Web Design is in a strategic partnership with <img src="../../assets/cxpay_logo.png" alt="cxpay logo" class="cxpay-logo img-fluid"> Through our partner we can offer solutions for ecommerce, retail storefronts, payment processing for both online and mobile devices, electronic invoicing, digital wallets as well as gift cards and digital vouchers.</p>

  <h3 class="py-4">Why Anmax Web Design?</h3>
  <ol>
    <li>At Anmax Web Design, we can deliver the full package. Besides great websites, we can also offer managed hosting so that we can quickly address any issues that may jeopardize the visibility or security of your website. We will keep your site running smoothly, limiting costly downtime. If you wish, we will also update your website so that you can focus on running your business.</li>
    <li>It's like your physical showroom, your website is the window of your business to the world. <br> Everywhere on earth, more and more people go online, not just to purchase, but also to select either a product or a service. Anmax Web Design will help you improve your ROI by designing your website in such a way that it attracts customers to your business.</li>
    <li>We use the latest technlogies, most of our site are wriiten using the Angular framework, making your pages superfast, giving a great user experience.</li>
    <li>Besides static websites, Anmax Web Design can also provide you with dynamic websites. These sites use a content management system (CMS) and server technologies, such as PHP and MySql to dynamically build pages. The advantage of this is that you can easily access and edit your content in a variety of ways. </li>
 
  </ol>

</section>




</div>
