$text-light: #E0E0E0;
$primary-color:#1A237E;
$primary-accent: #F48FB1;



.hero-image {
height: 40vh;
padding: 0;
background-image:url("../../assets/WEBDESIGNMYSQLPHPCSSHTMLJAVASCRIPTAJAXCMSText.jpg");
background-position: center;
background-size: cover;
//background-repeat: no-repeat;
}

.cxpay-logo {
  width: 45px;
}
