
<div class="container-fluid homecontainer">

</div>

<div class="container-fluid content-header p-5" id="work">

  <div class="row">
    <div class="col-md-12 content">
        <h2 class="my-5">We can help you improve your business</h2>

        <p class="text-justify">Anmax Web Design makes websites that look good and reflect your brand, mission and values. It doesn't matter if you're a multinational corporation or a small, local business - a well-designed website will increase traffic and conversions, instill trust and improve your brand image.</p>
        <P class="text-justify">At Anmax Web Design we strive to make your company's identity design exactly what you are looking for. A company's corporate identity design is not only its personality, but the company's reason of being, spirit and soul. The image reflected by the "company’s personality" will make the company identifiable and different from the rest.</P>
        <p class="text-justify">Anmax Web Design is in a strategic partnership with <a href="https://cxpay.global/" target="_blank"> <img src="#" alt=""></a> The world of e-commerce is now open for business on Curacao! Through our partner we can offer solutions for retail storefronts, payment processing for both online and mobile devices, electronic invoicing, digital wallets as well as gift cards and digital vouchers.</p>
    </div>
  </div>

  </div>

  <!-- Icons Grid -->
  <section class="features-icons text-center" id="icons">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="features-icons-item mx-auto mb-3 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
                <i class="fas fa-desktop fa-3x m-auto"></i>
             <!-- <i class="icon-screen-desktop m-auto text-primary"></i> -->
            </div>
            <h3>Fully Responsive</h3>
            <p class="mb-0 text-justify">More than 50% of people browse the web via their phone. Responsive Web Design makes your web pages look good on all devices, whether they are desktops, tablets, or phones. Responsive Web Design is about using CSS and HTML to resize, hide, shrink, enlarge, or move the content of the web page to make it look good on any screen</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="features-icons-item mx-auto mb-3 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
                <i class="fas fa-server m-auto"></i>
            </div>
            <h3>Managed Hosting</h3>
            <p class="mb-0 text-justify">We can also offer managed hosting so that we can quickly address any issues that may jeopardize the visibility or security of your website. We will keep your site running smoothly, limiting costly downtime. We will also update your website so that you can focus on running your business.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="features-icons-item mx-auto mb-3 mb-lg-3">
            <div class="features-icons-icon d-flex">
                <i class="far fa-check-circle m-auto"></i>

            </div>
            <h3>SEO</h3>
            <p class="mb-0 text-justify">Search Engine Optimization is the process of maximizing the number of visitors to a particular website by ensuring that the site appears high on the list of results returned by a search engine. Anmax Web Design will help your website achieve higher Google rankings and your business improve its ROI</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- subscription section -->

<div class="container-fluid subscription-section">
    <div class="row">
      <div class="col-md-4 pt-3">
        <p>Stay informed about the latest news and offers? <br>Subscribe to our Newsletter</p>
      </div>
      <div class="col-md-8 pt-4">
        <app-subscription-form></app-subscription-form>


      </div>
    </div>
    </div>

