$text-light: #E0E0E0;
$text-dark: #212121;
$color-red-primary: #d50000;
$color-red-primary-light: #ff5131;
$color-red-primary-dark: #9b0000;

$color-orange-accent: #ffa726;
$color-orange-accent-light:#ffd95b ;
$color-orange-accent-dark: #c77800 ;

$color-warning: #ffee58;

.homecontainer {
height: 70vh;
 background-image: url("../../assets/WEBDESIGNMYSQLPHPCSSHTMLJAVASCRIPTAJAXCMSText.jpg");
 background-position: center;
 background-size: 100% 100%;
 background-repeat: no-repeat;
}

.features-icons {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $color-orange-accent;
  color: #text-dark;

  .features-icons-item {
    //max-width: 30rem;


    .features-icons-icon {
      height: 7rem;

      i {
        color: $color-red-primary-light;
        font-size: 4.5rem;
        text-shadow: 2px 2px black;
      }
    }
    &:hover {
      .features-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
}



.subscription-section
{
  background-color: $color-red-primary-dark;
  color: #fff;
}
