$text-light: #E0E0E0;
$primary-color:#1A237E;
$primary-accent: #F48FB1;



.hero-image {
height: 40vh;
padding: 0;
background-image:url("../../assets/WEBDESIGNMYSQLPHPCSSHTMLJAVASCRIPTAJAXCMSText.jpg");
background-position: center;
background-size: cover;
//background-repeat: no-repeat;
}

.wrapper {
  background-color: #F5F5F5;
}

.contact-header
 {

   margin-top: 64px;

   h3 {
     font-size: 40px;
     text-transform: uppercase;
     text-align: center;
     color: $primary-color;
     font-weight: 900;
     padding-bottom: 30px;

   }

 }

 .contact-map {

   text-align: center;

 }
